.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:rgb(135, 224, 33);
  color:white;
}

.nav-links{
  width:50%;
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
